.gallery {
	-webkit-column-count: 3;
	-moz-webkit-column-count: 3;
	-column-count: 3;
	-webkit-column-width: 33%;
	-moz-column-width: 33%;
	column-width: 33%;
	padding: 12px;
}

.gallery .pics {
	-webkita-transition: all 350ms ease;
	transition: all 350ms ease;
	cursor: pointer;
	margin-bottom: 12px;
}

@media (max-width: 991px) {
	.gallery{
		-webkit-column-count: 2;
		-moz-webkit-column-count: 2;
		-column-count: 2;
	}	
}

.gallery .pics:hover {
	filter: opacity(.8);
}

@media (max-width: 480px) {
	.gallery{
		-webkit-column-count: 1;
		-moz-webkit-column-count: 1;
		-column-count: 1;
		-webkit-column-width: 100%;
		-moz-column-width: 100%;
		column-width: 100%;
	}	
}

/*model*/
.model {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
	visibility: hidden;
	opacity: 0;
	transform: scale(0);
	overflow: hidden;
	z-index: 999;
}

.model.open {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}

.model img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100vh;
	display: block;
	line-height: 0;
	box-sizing: border-box;
	padding: 20px 0 20px;
	margin-bottom: 0 auto;
}

.model.open .closeButton {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 2rem;
	height: 2rem;
	padding: 5px;
	background-color: rgba(225, 225, 225, 0.4);
	color: #ffffff;
	cursor: pointer;
	border-radius: 30%;
	align-items: center;
}

.model.open .nextButton {
	position: fixed;
	top: 50%;
	right: 10px;
	width: 2rem;
	height: 2rem;
	padding: 5px;
	background-color: rgba(225, 225, 225, 0.4);
	color: #ffffff;
	cursor: pointer;
	border-radius: 30%;
	align-items: center;
}

.model.open .prevButton {
	position: fixed;
	top: 50%;
	left: 10px;
	width: 2rem;
	height: 2rem;
	padding: 5px;
	background-color: rgba(225, 225, 225, 0.4);
	color: #ffffff;
	cursor: pointer;
	border-radius: 30%;
	align-items: center;
}

/**************RESOPONSIVENESS*****************/
@media (max-width: 1570px) {
	.model.open .prevButton {
		left: 10%;
	}

	.model.open .nextButton {
		right: 10%;
	}
}

@media (max-width: 1200px) {
	.model.open .prevButton {
  	left: 5%;
  }

  .model.open .nextButton {
  	right: 5%;
  }
}

@media (max-width: 768px) {
  
}


@media (max-width: 617px) {
  .model.open .prevButton {
  	left: 0;
  }

  .model.open .nextButton {
  	right: 0;
  }
}

@media (max-width: 380px) {
  
}